
:root {
    --backround-color: #F2F2F2;
    --primary-color: #633BBF;
    --secondary-color: #E67B3E;

    --heading-font: 'Young Serif', serif;
    --paragraph-font: 'Poppins', sans-serif;

}

body {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
    font-family: var(--paragraph-font);
}

body.light {
    background-color: var(--backround-color);
    color: black;
}

body.dark {
    background-color: #30343F;
    color: white;
}

#navigation {
    display: grid;
    grid-template-columns: 1fr 80px;
    background: var(--primary-color);
    color:white;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 120px;
    align-content: center;
}
#navigation a{
    padding: 1rem;
    color: white;
    text-decoration: none;
}



#hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


#hero picture {
    width: 100%;
    opacity: 0.8;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero img {
    width: 100%;
    height: auto;
}

#hero a{
    grid-column: 2/3;
    grid-row: 1/2 ;
    margin-top:3rem;
    background-color: var(--secondary-color);
    color: black;
    padding:1rem 2rem;
    font-size: xx-large;
    border-radius: 1rem;
    box-shadow: 3px 3px 2px gray;
    text-decoration: none;
}
#events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 2rem;
    justify-content: center;
}

#events h2{
    grid-column: 1/3;
}

#events hr, #side hr{
    border-top: 0.1px dashed var(--primary-color);
}

#business-spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}
#business-spotlight h3 {
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    max-width: 50%;
    margin: -30px auto 0 auto;
    color: white;
}

section:not(#dark-mode-switch){
    margin: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

#location-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 0;
    place-items: center;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    margin:1rem;
}

hr {
    border-top: 0.5px solid var(--primary-color);
}

iframe {
    width: 90%;
    justify-self: center;
    border-radius: 1rem;
    border: 0;
}

footer {
    background-color: var(--primary-color);
    color:white;
    padding: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: 5rem;
}

#develop-info {
    display: block;
}
#develop-info div {
    margin: 1rem;
}

#menu::before {
    content: "≡";
    font-size: 3rem;
    position: absolute;
    top:80px;
    right:70px;
}

#menu.show::before {
    content: "x";
    display: block;
}

nav.show {
    display: block;
    justify-content: center;
    grid-column: 1/3;
}
nav.show a{
    display: block;
}

nav {
    display: none;
}

/* dark mode switch */

#dark-mode-switch {
    position: absolute;
    top:20px;
    right:50px;
}
#dark-mode-switch h6{
    margin:5px;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: var(--secondary-color);
}

input:focus + .slider {
box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* discover page */
#discover-main {
    display: grid;
    grid-template-columns: 1fr;
}

figure {
    margin: 3rem auto;
}

figure:hover {
    transform: rotate(.01turn);
}

figure img {
    width: 100%;
    height: auto;
}

#side ul {
    list-style-type: none;
    padding: 0;
}

#side ul > li {
    padding: 0.5rem;
}

/* FROM */
form {
    font-size: 1rem;
}
form label {
    margin-top: 2rem;
    display: block;
}
form input:not(.sbs), textarea {
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
}
form textarea {
    height: 100px;
}

form input:required {
    border-left: 5px solid red;
}

form input:required:valid {
    border-left: 5px solid green;
}

.require-star {
    color: #a10606;
}

form button {
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    margin: 5rem auto;
    width:90%
}

form fieldset {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

form fieldset:not(:first-child) {
    margin: 4rem auto;
}
form legend {
    margin-left: 2rem;
    padding: 0 1rem;
}

#form-main {
    display: block;
    text-align: left;
}
#form-main h2{
    text-align: center;
    grid-column: 1/3;
    margin-top: 2rem;
}

#form-main section {
    text-align: center;
}

#member-benefit section{
    margin: 1rem;
}
#member-benefit ul{
    list-style: none;
    text-align: left;
}
#member-benefit ul li {
    margin: 1rem;
}
#member-benefit ul li:before {
    content: '✅';
    margin-right: 1rem;
}
#membership {
    margin-left: 1rem;
}
#membership label {
    margin-top: 1rem;
    font-size: 1.2rem;
}
#membership div {
    font-size: 1.2rem;
}

/* THANKS */
#thank-main {
    height: 200px;
    font-size: 4rem;
    text-align: center;
}
/* END */

.grid#companies_display{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	align-items: center; 
}

.grid#companies_display img{
    width: 50%;
    height: auto;
}

.grid#companies_display section{
    margin: 1rem;
}

.list#companies_display section{
    display: block;
    margin: 0;
}
.list#companies_display.light section:nth-child(even){
    background-color: #e6d9f3;
    color: black;
}
.list#companies_display.dark section:nth-child(even){
    background-color: #706679;
    color:white;
}

.list#companies_display img {
    display: none;
}
#display-toggle span {
    font-size: xx-large;
}
#display-toggle button {
    margin: 1rem;
    background-color: var(--primary-color);
    color:white;
    border-radius: 10px;
    padding: .3rem 2rem;
}

#companies_display a{
    color: inherit;
}

#weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: fit-content; 
    
}
#weather section {
    margin: 5px;
    border:none;
    border-radius: 0;
    padding: 5px;
}
#weather-container {
    margin-top: 70px;
}
#weather img {
    background: var(--primary-color);
    border-radius: 50%;
    margin:5px;
}

#banner {
    display: grid;
    grid-template-columns: 1fr 50px;
    background: var(--secondary-color);
    padding:1rem;
    margin-bottom: 1rem;
}
#banner.close{
    display: none;
}
#close-banner {
    font-size: xx-large;
}
