
@media screen and (min-width: 720px){
    #navigation {
        grid-template-columns: 1fr 1fr 100px;
        align-items: center;
    }

    #menu{
        display: none;
    }

    nav, nav.show {
        display: flex;
        justify-content: right;
    }

    #develop-info {
        display: flex;
        max-width: 70%;
        margin: 0 auto;
        gap:1rem;
        justify-content: center;

    }
    #develop-info div {
        margin: 1rem;
    }

    #dark-mode-switch {
        position: initial;
    }
    
    #discover-main {
        grid-template-columns: repeat(2, 1fr);
    }

    /* FORM */
    #member-benefit {
        display:initial;
    }
    #form-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form button {
        width:80%
    }

    .list#companies_display section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    figure:hover {
        transform: rotate(.01turn);
    }
}