
@media screen and (min-width: 600px){
    header {
        grid-template-columns: 1fr 1fr;
    }

    #menu{
        display: none;
    }

    /* nav a{
        display: flex;
    } */
    nav, nav.show {
        display: flex;
        justify-content: right;
    }

    


    #develop-info {
        display: flex;
        max-width: 70%;
        margin: 0 auto;
        gap:1rem;
        justify-content: center;

    }
    #develop-info div {
        margin: 1rem;
    }

}