@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Righteous&display=swap');

:root {
    --primary-color: #3C362A;
    --secondary-color: #1F490C;
    --accent1-color: #E5F9E0;
    --accent2-color: #40C9A2; 

    --heading-font: Righteous;
    --paragraph-font: Kalam;
}

body {
    margin: 0 auto;
    height: 100vh;

    background: var(--accent1-color);
    align-items: center;
    text-align: center;
    
    font-family: var(--paragraph-font), "Lucida Sans Typewriter", monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 1800px;
    /* justify-items: stretch; */
    margin: auto;
}

header, footer {
    background: var(--primary-color);
    color: var(--accent1-color);
}

h2 {
    padding: 10px;
    color: var(--primary-color); 
    font-family: var(--heading-font), "Lucida Sans Typewriter", monospace;
}

section {
    background-color: var(--secondary-color);
    color:var(--accent1-color);

    font-family: var(--heading-font), "Lucida Sans Typewriter", monospace;
  
    padding: 1rem;
}


h2, section {
    text-align: center;
}

header {
    padding: 1em;
}


h1 {
    display: inline;
    margin: 0 auto;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

img {
    border-radius: 15px;
}

.card p {
    font-family: var(--paragraph-font), "Lucida Sans Typewriter", monospace;
}

.card ul {
    list-style: none;
}