:root {
    --primary-color: #3C362A;
    --secondary-color: #1F490C;
    --accent1-color: #E5F9E0;
    --accent2-color: #40C9A2; 

    --heading-font: Righteous;
    --paragraph-font: Kalam;
}

body {
    margin: 0 auto;
    height: 100vh;

    background: var(--accent1-color);
    align-items: center;
    text-align: center;
    
    font-family: var(--paragraph-font), "Lucida Sans Typewriter", monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
}

header, footer {
    background: var(--primary-color);
    color: var(--accent1-color);
    padding: 1rem;
}

h2 {
    padding: 10px;
    color: var(--primary-color); 
    font-family: var(--heading-font), "Lucida Sans Typewriter", monospace;
    grid-column: 1/3;
}

section {
    background-color: var(--secondary-color);
    color:var(--accent1-color);

    font-family: var(--heading-font), "Lucida Sans Typewriter", monospace;
  
    padding: 1rem;
    margin:1rem;
    grid-column: 1/3;
}

header {
    padding: 1em;
}


h1 {
    display: inline;
    margin: 0 auto;
}

nav a {
    display: none;
    text-decoration: none;
    padding: 10px;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

img {
    border-radius: 15px;
}

.card {
    line-height: 2rem;
    text-align: left;
}

.card p {
    font-family: var(--paragraph-font), "Lucida Sans Typewriter", monospace;
}

.card a {
    color:var(--accent1-color);
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
    position:absolute;
    right:0px;
    top:0px;
    color:var(--accent1-color);
}

#menu::before {
	content: "≡";
}

.show a {
    display: block;
}

#menu.show::before {
    content: "X";
}

iframe {
    width: 90%;
    border-radius: 15px;
    margin: 1rem 3px;
    max-width: 850px;
}

header img {
    width: 200px;
    height: auto;
}

picture img {
    width: 90%;
    height: auto;
    margin: 1rem;
}

.herolabel {
	position: absolute;
	top: 20px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
    border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 0 1rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
}

.hero {
    position:relative;
    grid-column: 1/3;
}