@media screen and (min-width: 500px){
    nav {
        display: flex;
        justify-content: space-around;
    } 

    nav a {
        display: block;
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 1fr 300px;
        margin: auto;
    }

    h2 {
        grid-column: 1 / 3;
    }

    section {
        grid-column: initial;
    }

    #menu {
        display: none;
    }

    picture img {
        max-height: none;
    }
    
    .herolabel {
        top: 30px;
        left: 100px;
    }
    .herolabel p {
        font-size: 2rem;
    }
    #form-main {
        display: block;
        margin: 2rem auto;
    }
    form {
        margin: 1rem;
    } 
}